@import 'tailwindcss';

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-border: hasl(var(--border));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
}

@layer base {
  :root {
    /* Light mode - warm pallete*/
    --background: 30 25% 98%;
    --foreground: 20 20% 12%;

    --primary: 16 85% 60%;
    --primary-foreground: 0 0% 100%;

    --border: 30 15% 88%;

    --muted: 30 15% 92%;
    --muted-foreground: 20 10% 45%;
  }

  .dark {
    /* Dark Mode - deep pallete with warm accents*/
    --background: 240 15% 6%;
    --foreground: 30 20% 95%;

    --primary: 16 90% 65%;
    --primary-foreground: 240 15% 6%;

    --border: 240 10% 18%;

    --muted: 240 10% 18%;
    --muted-foreground: 30 15% 65%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
    font-family: var(--font-inter);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-space-grotesk);
  }
}

@layer components {
  .section-container {
    @apply mx-auto max-w-7xl px-6 lg:px-8;
  }
}
